div {
  width: 300px;
  height: 300px;
  background-color: black;
  border: 1px solid black;
}
#flapContainer {
	position:relative;
    transform:none;
	transition:all 4s;
    /*SAME AS
    transition-duration:4s;
    transition-property: transform;
    transition-delay:0s;
    transition-timing-function:linear;
    */
    transform-style:preserve-3d; /**/
    transform-origin:left top 0;
    left: 320px;
}

p {
	color: white;
}

#flapContainer:hover {
	transform:rotateY(180deg);
}

#frontFlap { 
	position:absolute;
	transform:none;
}

#backFlap {
	position:absolute;
  	transform: rotateY(180deg); /* Standard syntax */
  	backface-visibility:hidden;
}

#background {
	position:absolute;    
    left: 330px;
}